<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--
      Important! Only a single package source must be configured here. If needed, add additional upstream sources
      to the feed that is reference here, https://dev.azure.com/crisai/SpeechServices/_packaging?_a=feed&feed=CustomVoice
      See https://www.1eswiki.com/wiki/How_to_Securely_Configure_Package_Source_Files for details.
    -->
    <clear />
    <add key="CustomVoiceTools-TTSDeploymentAgent" value="https://speechoutput.pkgs.visualstudio.com/VideoTranslationSamples/_packaging/VideoTranslationSamples-ApiSampleCode/nuget/v3/index.json" />
  </packageSources>
  <bindingRedirects>
    <add key="skip" value="True" />
  </bindingRedirects>
</configuration>