<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Pronunciation Assessment</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>

<body>  
    
    <div class="container" id="ttscont">
        <div class="button-container">
            <button id="buttonhear" class="h-button">
                <span class="fas fa-headphones"></span>Learn Pronunciation</button>
        </div> 

        <div id="ttsList"></div>
        <div class="container" id="ttsloader">
            <div id="loader"></div>
        </div> 
    </div>

    <div class=container id="formcontainer">
        <form id="reftextform">
            <textarea id = "reftext" rows = "3" cols = "80" name = "reftext" maxlength="160" autofocus placeholder="Enter Reference Text here..."></textarea>
        </form>
        <br>
    </div>

    <div class="button-container">
        <button id="randomtt" class="blue-button">
            <span class="fa fa-random"></span>Get Tongue Twister</button>
        <button id="buttonmic" class="green-button">
            <span class="fa fa-microphone"></span>Record</button>
    </div>

    <div class="container" id="recordcont">
        <div id="recordingsList"></div>

        <div class="container" id="recordloader">
            <div id="loader"></div>
        </div>
        
        <div id="metrics" class="animate-bottom">
            <div class=container>
                <div id="summarytable">
                    <table>
                        <tr>
                            <th>Accuracy Score</th>
                            <th>Fluency Score</th>
                            <th>Completeness Score</th>
                            <th>Pronunciation Score</th>
                            <th id="woh">Words Omitted</th>
                            <th id="wih">Extra Words Spoken</th>
                        </tr>
                        <tr>
                            <td id="accuracyscore"></td>
                            <td id="fluencyscore"></td>
                            <td id="completenessscore"></td>
                            <td id="pronscore"></td>
                            <td id="wordsomitted"></td>
                            <td id="wordsinserted"></td>
                        </tr>
                    </table>
                </div>
            </div>
            
            <div class="container">
                <div id="detailedtable">
                    <table>
                        <tr id="wordrow"></tr>
                        <tr id ="phonemerow"></tr>
                        <tr id ="scorerow"></tr>
                    </table>
                </div>
            </div>

        </div>

    </div>
    
    <footer id=footeralert>Please allow the use of your microphone.</footer>
    
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>

</body>

</html>
